body{
    font-family: 'Oxygen', sans-serif;
    background-color: rgba(247, 246, 212, 0.281);

}


.card-header{
    border: 5px solid rgb(106, 107, 109);
    border-radius: 5px;
    background-color: rgb(106, 107, 109);
    color: azure;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0px;

}

.card-title{
    color: rgb(21, 21, 22);
    font-weight: 700;
    letter-spacing: 1px;
   
}

.card-estilo{
    box-shadow: 1px 1px 5px rgba(143, 141, 139, 0.966);
    background-color: rgba(213, 221, 192, 0.363);
   
}



#formulario{
    display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  
  
}

.buy label{
    color:#1b8f76;
   
}

.btn-form{
    background-color: #1b8f76;
    color: rgb(248, 245, 241);
    text-shadow: 1px 1px 1px rgb(97, 93, 93);
    font-size: 1.2rem;
}


/* estilos footer */

footer{

    background-color: #2e596d;
}

#pie a{
    text-decoration: none;
    color: white;
}

.rights{
  color: rgb(167, 225, 228);
  font-size: 14px;
  font-weight: 100;

}

@media (min-width:375px)and (max-width:580px) {
    
    .card-group{

        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }


}

